<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content ">
        <div class="row">
            <!-- ============================================================== -->
            <!-- TITULO -->
            <!-- ============================================================== -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Lineas de Contrato</h2>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active" aria-current="page">Lineas de Contrato</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            <!-- ============================================================== -->
            <!-- CUERPO -->
            <!-- ============================================================== -->
            <div class="card">
                <div class="card-header">
                    <h3>Administrar Lineas de Contratos
                        <button
                                pButton
                                label="Agregar"
                                icon="fas fa-plus"
                                class="ui-button ui-button-raised ui-button-rounded float-right"
                                data-toggle="modal" data-target="#modalAgregarLineaContrato"
                        >   
                        </button>
                    </h3>
                </div>
                <div class="card-body">
                    <!-- TABLA LINEAS CONTRATO -->
                    <p-table [columns]="cols" [value]="lineasContrato" [paginator]="true" [rows]="12" selectionMode="single" [(selection)]="selectedLineaContrato" dataKey="nombre" #dt>
                        <ng-template pTemplate="caption">
                            <div style="text-align: right">        
                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                <input type="text" pInputText size="50" placeholder="Filtrar" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pSelectableRow]="rowData">
                                <td *ngFor="let col of columns">
                                    <div *ngIf='rowData[col.field] && col.field =="nombre"'>
                                        {{rowData[col.field]}}
                                    </div>
                                    <div *ngIf='rowData[col.field] && col.field =="tipoInspeccion"'>
                                        {{rowData[col.field].nombre}}
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="card-footer">
                    <div class="btn-group float-right">
                    <!-- BOTON ELIMINAR -->
                        <!-- (deshabilitado) -->
                        <button *ngIf="!selectedLineaContrato"
                            disabled
                            pButton
                            label="Eliminar"
                            icon="fas fa-times"
                            class="ui-button-danger ui-button-raised ui-button-rounded"
                        >   
                        </button>
                        <!-- (habilitado) -->
                        <button *ngIf="selectedLineaContrato"
                                pButton
                                label="Eliminar"
                                icon="fas fa-times"
                                class="ui-button-danger ui-button-raised ui-button-rounded"
                                (click)="eliminarLineaContrato()"
                        >   
                        </button>
                    </div>
                    <div class="btn-group float-right">
                    <!-- BOTON EDITAR -->
                        <!-- (deshabilitado) -->
                        <button *ngIf="!selectedLineaContrato"
                            disabled
                            pButton
                            label="Editar"
                            icon="fas fa-pencil-alt"
                            class="ui-button-warning ui-button-raised ui-button-rounded float-right"
                        >   
                        </button>
                        <!-- (habilitado) -->
                        <button *ngIf="selectedLineaContrato"
                                pButton
                                label="Editar"
                                icon="fas fa-pencil-alt"
                                class="ui-button-warning ui-button-raised ui-button-rounded float-right"
                                data-toggle="modal" data-target="#modalEditarLineaContrato"
                        >   
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- MODAL AGREGAR -->
<!-- ============================================================== -->
<div class="modal fade" id="modalAgregarLineaContrato" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Linea de Contrato</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close" #cerrarAgregar>
                            <span aria-hidden="true">×</span>
                        </a>
            </div>
            <form name="form" autocomplete="off" (ngSubmit)="f.form.valid && model.nombre && agregarLineaContrato(f)" #f="ngForm" novalidate>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input class="form-control" type="text" [(ngModel)]="model.nombre" name="nombre" #nombre>
                        <ul class="parsley-errors-list filled" *ngIf="f.submitted && !model.nombre"><li class="parsley-required">Campo Obligatorio.</li></ul>
                    </div>
                    <div class="form-group">
                        <label>Tipo de Inspección</label>
                        <select class="form-control" [(ngModel)]="model.tipoInspeccion" name="tipoInspeccion">
                            <option *ngFor="let tipo of tiposInspeccion" [ngValue]="tipo">{{tipo.nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button 
                        type="submit" 
                        pButton 
                        icon="pi pi-check"
                        class="ui-button-success ui-button-raised ui-button-rounded float-right"
                        label="Guardar"
                    ></button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- MODAL EDITAR -->
<!-- ============================================================== -->
<div class="modal fade" id="modalEditarLineaContrato" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true" *ngIf="selectedLineaContrato">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Linea de Contrato</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close" #cerrarEditar>
                            <span aria-hidden="true">×</span>
                        </a>
            </div>
            <form name="form" (ngSubmit)="f.form.valid && actualizarLineaContrato()" #f="ngForm" novalidate>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input class="form-control" type="text" [(ngModel)]='selectedLineaContrato.nombre' name="lineaNombre" #lineaNombre>
                    </div>
                    <div class="form-group">
                        <label>Tipo de Inspección</label>
                        <select class="form-control" [(ngModel)] = "selectedLineaContrato.tipoInspeccion" name="tipoInspeccion">
                            <option *ngFor="let tipo of tiposInspeccion" [ngValue]="tipo" >{{tipo.nombre}}</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button 
                        type="submit" 
                        pButton 
                        icon="pi pi-check"
                        class="ui-button-success ui-button-raised ui-button-rounded float-right"
                        label="Guardar"
                    ></button>
                </div>
            </form>
        </div>
    </div>
</div>