<div class="dashboard-main-wrapper" *ngIf="estaLogueado()">
  <!-- ============================================================== -->
  <!-- navbar -->
  <!-- ============================================================== -->
  <div class="dashboard-header">
    <nav class="navbar navbar-expand-lg bg-white fixed-top">
        <a class="navbar-brand" href="index.html">GESTION DE AUDITORIAS TECNICAS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto navbar-right-top">
                <li class="nav-item dropdown nav-user">
                    <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="assets/images/avatar-1.png" alt="" class="user-avatar-md rounded-circle"></a>
                    <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                        <div class="nav-user-info">
                            <h5 class="mb-0 text-white nav-user-name">{{getUsername() | uppercase}}</h5>
                        </div>
                        <a class="dropdown-item" href="#" (click) = "logout()"><i class="fas fa-power-off mr-2"></i>Cerrar Sesion</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
  </div>

  <!-- ============================================================== -->
  <!-- left sidebar -->
  <!-- ============================================================== -->
  <div class="nav-left-sidebar sidebar-dark">
      <div class="menu-list">
          <nav class="navbar navbar-expand-lg navbar-light">
              <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav flex-column">
                      <li class="nav-item ">
                          <a class="nav-link" aria-expanded="false" aria-controls="submenu-1" routerLink="inicio" routerLinkActive="active">
                            <i class="fas fa-fw fa-tachometer-alt"></i>Inicio <span class="badge badge-success">6</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" aria-expanded="false" aria-controls="submenu-2" routerLink="certificados" routerLinkActive="active">
                          <i class="fas fa-fw fa-stamp"></i>Certificados</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" aria-expanded="false" aria-controls="submenu-2" routerLink="contratos" routerLinkActive="active">
                          <i class="fas fa-fw fa-file-signature"></i>Contratos</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" aria-expanded="false" aria-controls="submenu-4" routerLink="lineas-contrato" routerLinkActive="active">
                          <i class="fas fa-fw fa-align-justify"></i>Lineas de Contrato</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" aria-expanded="false" aria-controls="submenu-3" routerLink="proyectos" routerLinkActive="active">
                            <i class="fas fa-fw fa-folder-open"></i>Proyectos</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" aria-expanded="false" aria-controls="submenu-4" routerLink="empresas" routerLinkActive="active">
                          <i class="fas fa-fw fa-building"></i>Empresas</a>
                      </li>
                      <li class="nav-item" *ngIf="checkPermission(['admin'])" >
                        <a class="nav-link" aria-expanded="false" aria-controls="submenu-5" routerLink="usuarios" routerLinkActive="active">
                            <i class="fas fa-fw fa-user-circle"></i>Usuarios</a>
                      </li>
                  </ul>
              </div>
          </nav>
      </div>
  </div>
</div>

<router-outlet></router-outlet>
