<div class="dashboard-wrapper">
    <div class="container-fluid dashboard-content ">
        <div class="row">
            <!-- ============================================================== -->
            <!-- TITULO -->
            <!-- ============================================================== -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Contrato</h2>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item active" aria-current="page">Contrato</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            <!-- ============================================================== -->
            <!-- CUERPO -->
            <!-- ============================================================== -->
            <div class="card">
                <div class="card-header">
                    <h3>Administrar Contratos
                        <button
                                pButton
                                label="Agregar"
                                icon="fas fa-plus"
                                class="ui-button ui-button-raised ui-button-rounded float-right"
                                data-toggle="modal" data-target="#modalAgregarLineaContrato"
                        >   
                        </button>
                    </h3>
                </div>
                <div class="card-body">
                    <!-- TABLA LINEAS CONTRATO -->
                    <p-table [columns]="cols" [value]="contratos" [paginator]="true" [rows]="12" selectionMode="single" [(selection)]="selectedContrato" dataKey="nombre" #dt>
                        <ng-template pTemplate="caption">
                            <div style="text-align: right">        
                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                <input type="text" pInputText size="50" placeholder="Filtrar" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pSelectableRow]="rowData">
                                <td *ngFor="let col of columns">
                                    <div *ngIf='rowData[col.field] && col.field =="nombre"'>
                                        {{rowData[col.field]}}
                                    </div>
                                    <div *ngIf='rowData[col.field] && col.field =="tipoInspeccion"'>
                                        {{rowData[col.field].nombre}}
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="card-footer">
                    <div class="btn-group float-right">
                    <!-- BOTON ELIMINAR -->
                        <!-- (deshabilitado) -->
                        <button *ngIf="!selectedContrato"
                            disabled
                            pButton
                            label="Eliminar"
                            icon="fas fa-times"
                            class="ui-button-danger ui-button-raised ui-button-rounded"
                        >   
                        </button>
                        <!-- (habilitado) -->
                        <button *ngIf="selectedContrato"
                                pButton
                                label="Eliminar"
                                icon="fas fa-times"
                                class="ui-button-danger ui-button-raised ui-button-rounded"
                                (click)="eliminarLineaContrato()"
                        >   
                        </button>
                    </div>
                    <div class="btn-group float-right">
                    <!-- BOTON EDITAR -->
                        <!-- (deshabilitado) -->
                        <button *ngIf="!selectedContrato"
                            disabled
                            pButton
                            label="Editar"
                            icon="fas fa-pencil-alt"
                            class="ui-button-warning ui-button-raised ui-button-rounded float-right"
                        >   
                        </button>
                        <!-- (habilitado) -->
                        <button *ngIf="selectedContrato"
                                pButton
                                label="Editar"
                                icon="fas fa-pencil-alt"
                                class="ui-button-warning ui-button-raised ui-button-rounded float-right"
                                data-toggle="modal" data-target="#modalEditarLineaContrato"
                        >   
                        </button>
                    </div>
                    <div class="btn-group float-right">
                    <!-- BOTON DETALLE -->
                        <!-- (deshabilitado) -->
                        <button *ngIf="!selectedContrato"
                            disabled
                            pButton
                            label="Detalle"
                            icon="fas fa-search"
                            class="ui-button-raised ui-button-rounded float-right"
                        >   
                        </button>
                        <!-- (habilitado) -->
                        <button *ngIf="selectedContrato"
                                pButton
                                label="Detalle"
                                icon="fas fa-search"
                                class="ui-button-raised ui-button-rounded float-right"
                        >   
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>