<!-- ============================================================== -->
<!-- login page  -->
<!-- ============================================================== -->
<div class="splash-container">
    <div class="card ">
        <div class="card-header text-center">
                <a class="navbar-brand" href="index.html">GAT</a>
            <span class="splash-description">Gestión de Auditorias Técnicas</span>
        </div>
        <div class="card-body">
            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                    <input class="form-control form-control-lg" id="username" type="text" placeholder="Usuario" name="username" [(ngModel)]="model.username" #username="ngModel" required autocomplete="off">
                    <div *ngIf="f.submitted && !username.valid" class="help-block">Usuario incorrecto</div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <input class="form-control form-control-lg" id="password" type="password" placeholder="Contraseña" name="password" [(ngModel)]="model.password" #password="ngModel">
                    <div *ngIf="f.submitted && !password.valid" class="help-block">Contraseña incorrecta</div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Iniciar Sesion</button>
            </form>
        </div>
        <div class="card-footer bg-white p-0  ">
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end login page  -->
<!-- ============================================================== -->